*{
  padding: 0%;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}
.container{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,25,0.9), rgba(0,0,25,0.9)), url(13.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  color: #fff;
}
.container h1{
  font-size: 120px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}
#focus{
  position: absolute;
  width: 280px;
  height: 280px;
  z-index: 1;
  background-image: url('13.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 50%;
  top: calc(50% - 140px);
  left: calc(50% - 140px);
}